@import '../../../styles/variables';

table {
  border-collapse: collapse;
}

button {
  width: $gutter;
  height: $gutter;
  padding: 0;
  background: white;
  color: $tool_color;
  border: 1px solid #ccc;
}

button:hover {
  background: $tool_color;
  color: white;
}

button.active {
  background: $tool_color;
  color: white;
}