@import '../../../styles/variables';

.container {
  //position: relative;
  //height: 673px;
  //overflow: hidden;
}

.canvas-container {
  //position: absolute;
  //top: 50%;
  //left: 30%;
  //margin: 0 -50% 0 0;
  //transform: translate(-50%, 0)
}

#animation {
  width: 655px;
  height: 655px;
  background-color: black;
  //float: left;
  pointer-events:none;
}