@import '../../../../../styles/variables';

.fa-upload {
  color: $white;
  cursor: pointer;
}

.animation-upload {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.upload-progress {
  position: absolute;
  display: block;
  z-index: 1;

}