$nav_background_color: white;
$white: #FFFFFF;
$black: #000000;
$tool_color: #ff2ad4;
$widget_header_color: #c2e7ff;
$widget_border_color: #808080;
$blue: #329add;
$orange: orange;
$gray: #D0D0D0;
$gray_hover: #808080;

$font_family : 'Open Sans', 'Helvetica New', Helvetica, Arial, sans-serif;

$font_size :14px;

$gutter: 2 * $font_size;