$background: #343434;
$black: #000000;
$blue: #329add;
$danger_color: #ff4450;
$disabled: #606060;
$gray: #D0D0D0;
$gray_hover: #808080;
$nav_background_color: white;
$orange: orange;
$selected: #464646;
$spinner: red;
$tool_color: #ff2ad4;
$white: #FFFFFF;
$widget_header_color: rgba(73, 88, 98, 0.97);
$widget_border_color: #808080;

$font_family : 'Open Sans', 'Helvetica New', Helvetica, Arial, sans-serif;

$font_size :14px;

$gutter: 2 * $font_size;