@import '../../styles/variables';

.main-header {
  //display: flex;
  padding: 0px;
  height: $font_size*3;
  position: relative;
  //overflow: hidden;
  text-align: center;
}

.logo {
  float: left;
}

.links {
  float: left;
}


.user {
  float: right;
}