@import '../../styles/variables';

.main-header {
  display: flex;
  padding: 0px;
  border-bottom: 2px solid $blue;
  height: $font_size*3;
}

.user {
}

.dropbtn {
  background-color: transparent;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn > i {
  color: $blue;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  right: 0;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  visibility: hidden;
  position: absolute;
  background-color: #f9f9f9;
  transition: 0.5s;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: -1;
  right: 0;
  margin-top: -6px;
  opacity: 0;
  transform: translateY(-2em);
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  opacity: 1;
  z-index: 1;
  visibility: visible;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s; /* this removes the transition delay so the menu will be visible while the other styles transition */
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn > i {
  color: $gray;
}