@import '../../styles/variables';
@import '../../styles/shapes';

.grid {
  margin: 0 auto;
  //width: 65% !important;
}

.grid-item {
  @include shadow();
}

.handle {
  width: 100%;
  height: $gutter;
  background: $widget_header_color;
  color: black;
  padding: 15px;
  box-sizing: border-box;
}

.box-header-btns {
  top: $gutter/4;
  right: 10px;
  cursor: pointer;
  position: absolute;
}